<h3>Pacientes</h3>
<div class="list">
<ul class="demo-list-icon mdl-list">
<% @pacientes.each do |paciente| %>
  <li class="mdl-list__item">
  <span class="mdl-list__item-primary-content">
  <i class="material-icons mdl-list__item-icon">person</i>
  <%= link_to paciente.nome, paciente_path(paciente) %>
  </span>
</li>
<% end %>
</ul>
</div>
