<h1>Pacientes</h1>
<h2><%= link_to 'Cadastrar', new_paciente_path %></h2>

<div class="busca" id="teste">
<input type="search" placeholder="busca" id="busca" class=""/>

<table>
<% @pacientes.each do |paciente| %>
  <ul><%= link_to paciente.nome, paciente_path(paciente), class: "paciente" %></ul>
<% end %>
</table>
</div>

<script>
const busca = document.querySelector("#busca");
busca.addEventListener('input', function () {
    const pacientes = document.querySelectorAll(".paciente");
    for (let paciente of pacientes) {
        var compara = paciente.textContent.substr(0, busca.value.length);
        if (busca.value.length !== 0) {
            if (busca.value.toUpperCase() != compara.toUpperCase()) {
                paciente.parentNode.classList.add('some');
            } else {
                paciente.parentNode.classList.remove('some');
            }
        } else {
            paciente.parentNode.classList.remove('some');
        }
    }

})
</script>
