<h3>Pacientes</h3>

<div class="busca">
<div class="md-form form-lg">
    <input type="text" id="inputLGEx" class="form-control form-control-lg">
    <label class="fa fa-search" for="inputLGEx">  Busca </label>
</div>
<br>
<table class="table table-hover table-striped">
    <!--Table head-->
<thead id="thead" class="indigo darken-3">

        <tr>
        <th><i class="fa fa-address-card-o" aria-hidden="true"></i>  Nome</th>
        <th><i class="fa fa-envelope" aria-hidden="true"></i>  Email</th>
        <th><i class="fa fa-gear" aria-hidden="true"></i>  Ações</th>
        </tr>
    </thead>
    <tbody>
<% @pacientes.each do |paciente| %>
    <tr>
        <td class="buscar"><%= paciente.nome %></td>
        <td class="buscar"><%= paciente.email %></td>
        <td><%= link_to 'Consultar', paciente_path(paciente),:class => 'btn btn-md btn-outline-primary waves-effect' %></td>
    <% end %>
    </tbody>
</table>
</div>



</div>
</div>
</div>

<%= javascript_include_tag "busca.js"%>
