<h3>Relatório Financeiro</h3>
<div class="busca">
<div class="md-form form-lg">
    <input type="text" id="inputLGEx" class="form-control form-control-lg">
    <label class="fa fa-search" for="inputLGEx">  Busca</label><br>
</div>
<table class="table table-hover table-striped">
    <!--Table head-->
<thead id="thead" class="indigo darken-3">
        <tr>
          <th><i class="fa fa-book" aria-hidden="true"></i>  Competência</th>
          <th><i class="fa fa-address-book-o" aria-hidden="true"></i> Previsto</th>
          <th><i class="fa fa-exclamation-circle" aria-hidden="true"></i>  Realizado</th>
        </tr>
    </thead>
    <tbody>
      <% @competencias.each do |competencia| %>
        <tr>
          <td><%= competencia.competencia %></td>
          <td><%= number_to_currency @valor_previsto[competencia.competencia] %></td>
          <% realizado = @valor_realizado[competencia.competencia] %>
          <td><%= realizado.nil? ? number_to_currency(0) : number_to_currency(realizado) %></td>
        </tr>
      <% end %>
    </tbody>
</table>

</div>

<%= javascript_include_tag "busca.js"%>
