<h3>Relatório Financeiro</h3>
<div class="busca">
<div class="md-form form-lg">
    <input type="text" id="inputLGEx" class="form-control form-control-lg">
    <label class="fa fa-search" for="inputLGEx">  Busca</label><br>
</div>
<table class="table table-hover table-striped">
    <!--Table head-->
<thead id="thead" class="indigo darken-3">
        <tr>
          <th><i class="fa fa-book" aria-hidden="true"></i>  Competência</th>
          <th><i class="fa fa-address-book-o" aria-hidden="true"></i> Agendados</th>
          <th><i class="fa fa-exclamation-circle" aria-hidden="true"></i>  Atendidos</th>
          <th><i class="fa fa-dollar" aria-hidden="true"></i>  Pagos</th>
          <th><i class="fa fa-calculator" aria-hidden="true"></i>  Total</th>
        </tr>
    </thead>
    <tbody>
      <% @competencias = Consulta.select(:competencia).distinct %>
      <% @competencias.each do |competencia| %>
      <% saldo_agendado = 0 %>
      <tr>
        <td><%= competencia.competencia %></td>
        <% consultas_competencia = Consulta.where(competencia: competencia.competencia, status:false) %>
        <% consultas_competencia.each do |valor| %>
          <%#= binding.pry %>
          <% saldo_agendado = valor.valor_consulta.valor + saldo_agendado %>
        <% end %>
        <% number_to_currency valor = agendados = saldo_agendado %>
        <% number_to_currency valor = atendidos = Fatura.where(status: false, competencia: competencia.competencia).sum(:valor) %>
        <% number_to_currency valor = pagos = Pagamento.where(competencia: competencia.competencia, status: true).sum(:valor) %>
        <td><%= number_to_currency valor = agendados + atendidos + pagos %></td>
        <td><%= number_to_currency valor = pagos %></td>
      </tr>
      <% end %>
    </tbody>
</table>
</div>


</div>
</div>


</div>
<%= javascript_include_tag "busca.js"%>
