/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
main{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
#listap{
    width: 99%;
    border-left: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
}
.demo-list-icon {
    width: 300px;
  }

  /* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  footer{
  color: white;
  text-align: center;
  background: #283593;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35px;
  z-index: 4;
  }
  .showp{
    column-count: 2;
  }
  h4,h3,.showp,.cash{
  text-align: center;
  }

.notice,.alert{
  text-align: center;
}
.some{
	display: none;
}

.no-js{
  display: none;
}

.busca{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#no-list{
  list-style: none;
}
#panel{
  margin-top:10%;
  background: white;
  height: 380px;
  max-width: 480px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  color: black;
}

.app{
  background: #0d47a1;
  color: white;
}
.fa{
  cursor: pointer;
  color: white;
}
#mobile{
  display:none;
}
#main-title2{
  display: none;
}
@media only screen and (max-width: 961px){
  #mobile{
    display:block;
  }
  main{
    width: 100vw;
  }
  .links{
    display: none;
  }
  #main-title{
    display: none;
  }
  #main-title2{
    display: none;
  }
  #panel2{
    height: 540px;
  }
}
@media only screen and (max-width: 855px){
  #mobile{
    display:block;
  }
  main{
    width: 100vw;
  }
  .links{
    display: none;
  }
  #main-title{
    display: none;
  }
  #main-title2{
    display: initial;
    text-align: center;
    margin-left: 15px;
  }
  #panel2{
    height: 540px;
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background: #3f51b5; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color: white;
  font-family: 'Do Hyeon', sans-serif;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: white
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

#notice{
  display: none;
  background: green;
  border:1px solid green;
  height: 250px;
  width: 400;
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
}


.alert-s{
  animation-delay: 0.2s;
  background: #00c851;
  height: 54px;
  width: 300px;
  position: fixed;
  right: 0;
  border: 1px solid #00c851;
  border-radius: 10px;
  display: none;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

input[type="date"] {
  color: navy;
  -webkit-align-items: center;
  display: -webkit-inline-flex;
  font-family: monospace;
  overflow: hidden;
  padding: 0;
  -webkit-padding-start: 1px;
}

input::-webkit-datetime-edit {
 -webkit-flex: 1;
 -webkit-user-modify: read-only !important;
 display: inline-block;
 min-width: 0;
 overflow: hidden;
}

input::-webkit-datetime-edit-fields-wrapper {
 -webkit-user-modify: read-only !important;
 display: inline-block;
 padding: 1px 0;
 white-space: pre;
}
.loader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #283593;
  border-bottom: 16px solid #283593;
  width: 150px;
  height: 150px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 5;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body{
  opacity: 0.4;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.alert-e{
  animation-delay: 0.2s;
  background: #ff3547;
  height: 39px;
  width: 300px;
  position: fixed;
  margin-top: -35px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border: 1px solid #ff3547;
  box-shadow: grey 2px 2px;
  border-radius: 3px;
  display: none;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

@media only screen and (max-width: 415px) {
  #main-title{
    float: right;
    font-size: 13px;
  }

  #mobile{
    display: inline;
    margin-left: 5px;
  }
    #no-mobile{
      display: none;
    }
    .alert-s{
    height: 40px;
    }
    #panel{
      height: 400px;
    }
    tbody{
    width: 100px;
    }
}

#main-title{
  font-family: 'Graduate', cursive;
  font-size: 15px;
}

#delete a{
  color:white;
  background: red;
  border: 1px ridge red;
  border-radius: 50%;
  width: 35px;
  height: 30px;
  padding-top: 2px;
  box-shadow: grey 1px 1px;
  font-size: 20px;
}
#delete a:hover{
  color:red;
  background: white;
}
.colls,.colls-c,.colls-p,.colls-f{
  display: none;
}

hr.sidehr{
  border-top: 1px solid white;
  height: 5px;
}
.actions{
  margin-top:3%;
}
.fixed{
  top: 0;
  z-index: 4;
  position: fixed;
  width: 100%;
}
#thead{
  color: white;
}

.alink {
  color: white;
}

nav{
  color: white;
  background: #283593;
  top: 0;
  left: 0;
  width: 100%;
  height: 67px;
  z-index: 4;
  position: relative;
}
.drop-menup,.drop-menuc{
  position: absolute;
  top: 142.7%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}

nav .links{
  position: absolute;
  width: 75%;
}

#exit{
float: right;
}

.point{
  cursor: default;
}

.drop-menuc a:hover{
  background: #4285F4;
  color: white;
}
.drop-menup a:hover{
  background: #4285F4;
  color: white;
}
tr i{
  cursor: default;
}
 span a:hover {
   color: white;
 }

span:hover {
    font-size: 20px;
    color: white;
}

#dropc:hover,#dropp:hover{
  font-size: 15px;
}

#ndis{
  color: #283593;
}
#panel2{
  margin-top:10%;
  height: 450px;
  background: #e9ecef;
  max-width: 600px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
#pass{
  font-size: 10px;
}
table{
  width: auto;
}
.mysticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 4;
}
.icona{
  width: 50px;
  height: 50px;
  background: #283593;
  margin-top: 8px;
  border: 1px solid #283593;
  border-radius: 50%;
}
ul{
  list-style: none;
}
