/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
 *= require_tree .
 *= require_self
 */
main{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#listap{
    width: 99%;
    border-left: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
}
.demo-list-icon {
    width: 300px;
  }

  /* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  footer{
  color: white;
  text-align: center;
  background: #283593;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  }
  .showp{
    column-count: 2;
  }
  h4,h3,.showp,.cash{
  text-align: center;
  }
span{
  color: white;
}
.notice,.alert{
  text-align: center;
}
.some{
	display: none;
}

.no-js{
  display: none;
}

.busca{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#no-list{
  list-style: none;
}
#drop:hover{
  background: #283593;
  color: white;
}
#panel{
  background: white;
  height: 380px;
  max-width: 430px;
  margin: 0 auto 25px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  color: black;
}

.app{
  background: #0d47a1;
  color: white;
}
.fa{
  cursor: pointer;
  color: white;
}
#mobile{
  display:none;
}

@media only screen and (max-width: 991px) {
  #mobile{
    display:block;
  }
  main{
    width: 100vw;
  }
  #table{
    width: 30px;
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background: #3b679e; /* Old browsers */
  background: -moz-linear-gradient(top, #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color: white;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.5s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

#notice{
  display: none;
  background: green;
  border:1px solid green;
  height: 250px;
  width: 400;
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
}
