/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "materialize/components/color-variables";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("yellow", "base") !default;
@import 'materialize';
 *= require_tree .
 *= require_self
 *= require bootstrap
 *= require fullcalendar
 */

  $color-black: "0,0,0";
  $select-background-color: transparent;
  $select-border-color: unquote("rgba(#{$color-black}, 0.12)") !default;
  $select-font-size: 16px;
  $select-color: unquote("rgba(#{$color-black}, 0.26)") !default;
  $select-padding: 4px;
  $select-font-w: "bold";

#main{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#listap{
    width: 99%;
    border-left: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
}
.demo-list-icon {
    width: 300px;
  }

  /* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  footer{
  color: white;
  text-align: center;
  background: #283593;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35px;
  z-index: 4;
  }
  .showp{
    column-count: 2;
  }
  h4,h3,.showp,.cash{
  text-align: center;
  }

.notice,.alert{
  text-align: center;
}
.some{
	display: none;
}

.no-js{
  display: none;
}

.busca{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#no-list{
  list-style: none;
}
#panel{

  margin-top:10%;
  background: white;
  height: 380px;
  max-width: 480px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  color: black;
}

.app{
  background: #0d47a1;
  color: white;
}
.fa{
  cursor: pointer;
  color: white;
}
#mobile{
  display:none;
}
#main-title2{
  align-self: center;
  display: none;
}

.nav-item{
  color: white;
}

@media only screen and (max-width: 1020px){
  #mobile{
    display:block;
  }
  main{
    width: 100vw;
  }
  .links{
    display: none;
  }
  #main-title{
    display: none;
  }
  #main-title2{
    display: initial;
    text-align: center;
    margin-left: 15px;
  }
  #panel2{
    height: 540px;
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background: #3f51b5; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color: white;
  font-family: 'Do Hyeon', sans-serif;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: white
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

.alert-s{
  animation-delay: 0.2s;
  background: #00c851;
  height: 54px;
  width: 300px;
  position: relative;
  right: 0;
  border: 1px solid #00c851;
  border-radius: 10px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}
.alert-e{
  animation-delay: 0.2s;
  background: #283593;
  height: 54px;
  width: 300px;
  position: relative;
  right: 0;
  border: 1px solid #283593;
  border-radius: 10px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}
.loader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #283593;
  border-bottom: 16px solid #283593;
  width: 150px;
  height: 150px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 5;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body{
  opacity: 0.4;
  font-family: 'Courier New', Courier, monospace;
  font-size: 22px;
}
.alert-e{
  animation-delay: 0.2s;
  background: #ff3547;
  height: auto;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border: 1px solid #ff3547;
  box-shadow: grey 2px 2px;
  border-radius: 3px;
  display: none;
  color: white;
}

@media only screen and (max-width: 650px){
  input[type="date"]{
    width: 50%;
    height: 7vh;
  }
  #main-title{
    font-family: 'Courier New', Courier, monospace;
    float: right;
    font-size: 13px;
  }
  #mobile{
    display: inline;
    margin-left: 5px;
  }
  #no-mobile{
    display: none;
  }
  .alert-s{
    height: auto;
    width: auto;
  }
  .alert-e{
    //background: white;
    width: auto;
    height: auto;
  }
  #panel{
    height: 400px;
  }
  tbody{
    width: 100px;
  }
}

#main-title{
  font-family: 'Graduate', cursive;
  font-size: 15px;
}

#delete a{
  color:white;
  background: red;
  border: 1px ridge red;
  border-radius: 50%;
  width: 35px;
  height: 30px;
  padding-top: 2px;
  box-shadow: grey 1px 1px;
  font-size: 20px;
}
#delete a:hover{
  color:red;
  background: white;
}
.colls,.colls-c,.colls-p,.colls-f,.colls-r{
  display: none;
}

hr.sidehr{
  border-top: 1px solid white;
  height: 5px;
}
.actions{
  margin-top:3%;
}
.fixed{
  top: 0;
  z-index: 4;
  position: fixed;
  width: 100%;
}
#thead{
  color: white;
}

.alink {
  color: white;
}

nav{
  background: #283593;

}
.drop-menup,.drop-menuc,.drop-menupr{
  position: absolute;
  top: 142.7%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}



#exit{
float: right;
}

.point{
  cursor: default;
}

.drop-menuc a:hover{
  background: #4285F4;
  color: white;
}
.drop-menup a:hover{
  background: #4285F4;
  color: white;
}
.drop-menupr a:hover{
  background: #4285F4;
  color: white;
}
tr i{
  cursor: default;
}
 span a:hover {
   color: white;
 }

span:hover {
    font-size: 20px;
    color: white;
}

#dropc:hover,#dropp:hover,#dropr:hover{
  font-size: 15px;
}

#ndis{
  color: #283593;
}
#panel2{
  margin-top:10%;
  height: 450px;
  background: #e9ecef;
  max-width: 600px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
#pass{
  font-size: 10px;
}
table{
  width: auto;
}
.mysticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 4;
}
.icona{
  width: 50px;
  height: 50px;
  background: #283593;
  margin-top: 8px;
  border: 1px solid #283593;
  border-radius: 50%;
}
ul{
  list-style: none;
  vertical-align: middle;
}
.picker{
font-size: 16px;
text-align: center;
line-height: 1.2;
color: #000;
position: absolute;
z-index: 10000;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
input[type=date],input[type=time]{
  background: #283593;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid navy;
  box-shadow: 2px 2px 2px 2px grey;
  border-radius: 5px;
}
.custom-select {
  font-family: 'Courier New', Courier, monospace;
  background-color: transparent;
  width: 100%;
  padding: $select-padding;
  font-size: $select-font-size;
  color: #7b7b7b;
  border: none;
  border-bottom: 1px solid $select-border-color;
}
.custom-select:focus {
  outline: none
}
#icon{
  text-shadow: rgb(28, 37, 103) 0px 0px 0px, rgb(28, 38, 105) 1px 1px 0px, rgb(29, 38, 106) 2px 2px 0px, rgb(29, 39, 108) 3px 3px 0px, rgb(30, 40, 110) 4px 4px 0px, rgb(30, 40, 111) 5px 5px 0px, rgb(31, 41, 113) 6px 6px 0px, rgb(31, 41, 115) 7px 7px 0px, rgb(32, 42, 116) 8px 8px 0px, rgb(32, 43, 118) 9px 9px 0px, rgb(33, 43, 120) 10px 10px 0px, rgb(33, 44, 122) 11px 11px 0px, rgb(34, 44, 123) 12px 12px 0px, rgb(34, 45, 125) 13px 13px 0px, rgb(34, 46, 127) 14px 14px 0px, rgb(35, 46, 128) 15px 15px 0px, rgb(35, 47, 130) 16px 16px 0px, rgb(36, 47, 132) 17px 17px 0px, rgb(36, 48, 133) 18px 18px 0px, rgb(37, 49, 135) 19px 19px 0px, rgb(37, 49, 137) 20px 20px 0px, rgb(38, 50, 139) 21px 21px 0px, rgb(38, 51, 140) 22px 22px 0px, rgb(39, 51, 142) 23px 23px 0px, rgb(39, 52, 144) 24px 24px 0px, rgb(40, 52, 145) 25px 25px 0px;
  font-size: 106px;
  color: rgb(255, 255, 255);
  height: 96px;
  width: 69px;
  line-height: 157px;
  text-align: center;
  margin-left: auto;
  margin-right: 75px;
}
