.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background: #3f51b5; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color: white;
  font-family: 'Do Hyeon', sans-serif;
}

.sidenav a {
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: white
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.titulo-sidemenu{
  font-size: 1.6rem;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}
