
<h3>Consultas</h3>
<div class="busca">
<div class="mdl-textfield mdl-js-textfield">
<input type="search" class="mdl-textfield__input" placeholder="busca" id="busca" class=""/>
</div>
<table>
  <tr>
    <th>Dia</th>
    <th>Hora</th>
    <th>Paciente</th>
  </tr>
<% @consultas.each do |consulta| %>
  <tr>
    <td><%= link_to I18n.localize(consulta.data), consulta_path(consulta), class: "consulta" %></td>
    <td><%= consulta.hora.strftime('%R') %></td>
    <td><%= link_to consulta.paciente.nome, paciente_path(consulta.paciente), class: "paciente" %></td>
  </tr>
<% end %>
<%= link_to 'Cadastrar', new_consulta_path,:class=>'mdl-button mdl-js-button mdl-button--primary'%>
</div>
</table>

<script>
const busca = document.querySelector("#busca");
busca.addEventListener('input', function () {
    const consultas = document.querySelectorAll(".consulta");
    for (let consulta of consultas) {
        var compara = consulta.textContent.substr(0, busca.value.length);
        if (busca.value.length !== 0) {
            if (busca.value.toUpperCase() != compara.toUpperCase()) {
                consulta.parentNode.classList.add('some');
            } else {
                consulta.parentNode.classList.remove('some');
            }
        } else {
            consulta.parentNode.classList.remove('some');
        }
    }

})
</script>
