
<h3>Consultas</h3>
<div class="busca">
<div class="mdl-textfield mdl-js-textfield">
<input type="search" class="mdl-textfield__input" placeholder="busca" id="busca" class=""/>
</div>
<% @consultas.each do |consulta| %>
  <p>
    <%= link_to consulta.data, consulta_path(consulta), class: "consulta" %>
    <%= link_to consulta.paciente.nome, paciente_path(consulta.paciente), class: "paciente" %>
  </p>
<% end %>
<%= link_to 'Cadastrar', new_consulta_path,:class=>'mdl-button mdl-js-button mdl-button--primary'%>
</div>


<script>
const busca = document.querySelector("#busca");
busca.addEventListener('input', function () {
    const consultas = document.querySelectorAll(".consulta");
    for (let consulta of consultas) {
        var compara = consulta.textContent.substr(0, busca.value.length);
        if (busca.value.length !== 0) {
            if (busca.value.toUpperCase() != compara.toUpperCase()) {
                consulta.parentNode.classList.add('some');
            } else {
                consulta.parentNode.classList.remove('some');
            }
        } else {
            consulta.parentNode.classList.remove('some');
        }
    }

})
</script>
